include /mixins/footercol

footer
  .inner.container
    .row
      +footercols('Company', ["/about.html", "/contact.html", "/testimonials.html", "/careers.html", "/management.html"], ["About Us", "Contact Us", "Testimonials", "Careers", "Management"])
      +footercols('Services', ["/services.html", "/hire-us.html", "/pricing.html", "/get-a-quote.html"], ["Explore", "Hire Us", "Pricing", "Get a Quote"])
      +footercols('Resources', ["/faq.html", "/support.html", "/sitemap.html", "/privacy-policy.html"], ["FAQ", "Support", "Sitemap", "Privacy Policy"])
      .col-6.np-x(class='md:col-3 mb-4 md:mb-0')
        .row
          +listFootercols('Outlets', ["Eatery", "Car Wash"], ["/eatery.html", "/car-wash.html"])
          +listFootercols('Regions', ['Ibadan', 'Jericho'], null)
    .credits-copy.mt-12.text-sm
      .container
        .row
          .col-12.mb-1(class='sm:mb-0 sm:col-6')
            p.inline-block
              | &copy; 2019 #[strong Chihyssop Support Services]

          .col-12.mb-1(class='sm:mb-0 sm:col-6 md:text-right')
            p.inline-block
              | Designed by #[a(href='https://www.github.com/gabrielAndy', target='_blank') #[strong Andikan Gabriel]]
