header
  .container-ml.mx-auto
    .inner
      //- brand logo
      .brand
        a(href='/'): img#logosvg.svg(src='/assets/i/logo.svg', alt='Chihyssop Logo')
      block navigation
        //- menu links
        nav
          ul
            block pages
      //- CTA buttons
      .header-cta
        div.cta-group
          a#idle-btn.btn(href='/hire-us.html') Hire Us
        div.cta-group
          a#x1lead-btn.btn(href='/get-a-quote.html') Get a Quote
      //- Menu mobile icon
      .menu
        .menuicon
          div
