extends /_layout

append seo
  title 🔥 #{siteTitle}
  meta(name='keywords' content='')
  meta(name='description' content='')
  meta(name='robots' content='all')
  meta(name='referrer' content='no-referrer-when-downgrade')

append pageCSS
  link(rel="stylesheet" href=production ? '/assets/c/index.min.css' : '/assets/c/index.css')

append pages
  include /mixins/list
  +menuList('home', 'nav-link active', '/', null)
  +menuList('about', 'nav-link', '/about.html', null)
  +menuList('services', 'nav-link', '/services.html', null)
  +menuList('contact', 'nav-link', '/contact.html', null)

append content
  //- slideshow
  section#hero
    .slider
      include /mixins/slideshow
      +slides(
        'https://www0.assets.heroku.com/assets/home/hero/data-a4eeceb4fc7926c678eb97c570037dc83f75a052f523f1c3014b1c0b1d505bf6.png',
        'House Cleaning Services',
        'Stop coming home to a second job',
        'Don\'t come home and be doing house cleaning when Chihyssop Support Services is a click away from you. We will do the house cleaning for you at an affordable rate.',
        '/get-a-quote.html?serv=house_cleaning'
      )
      +slides(
        'https://www3.assets.heroku.com/assets/home/hero/focus-647c57d2effb7d2dfb5871161afab3cf097de6339c02e85d84ea14747800fcb0.png',
        'Rust Removal',
        'Get rust outta your system',
        'Don\'t come home and be doing house cleaning when Chihyssop Support Services is a click away from you. We will do the house cleaning for you at an affordable rate.',
        '/get-a-quote.html?serv=house_cleaning'
      )
      +slides(
        'https://www3.assets.heroku.com/assets/home/hero/ecosystem-51bfd00540ebf0b1e52b4fd935222d5c46c7ad58fc05273ca96311788ac0777c.png',
        'Janitorial Services',
        'Your working place gets cleaner with our services',
        'Don\'t come home and be doing house cleaning when Chihyssop Support Services is a click away from you. We will do the house cleaning for you at an affordable rate.',
        '/get-a-quote.html?serv=house_cleaning'
      )

  //- testimonial
  section#testimonial
    .inner
      p
        | Trusted and L<svg class="inline-block mx-1" height="14" viewBox="0 0 6 7" xmlns="http://www.w3.org/2000/svg" fill="none"><path d="M3 1L3 1 3 1C2 0 1 0 0 1 0 1 0 3 0 3L1 4 3 7 5 4 6 3C6 3 6 1 6 1 5 0 4 0 3 1Z" fill="#F00" /></svg>ved by companies of all sizes and passionate individuals
      p.pu
        | Individuals and corporate bodies of all sizes trust Chihyssop Support Services to maintain a friendly, greener and clean environments
      .companies.pt-4
        .inline-block.mx-3.mt-5.company-logo
          span#c-1
        .inline-block.mx-3.mt-5.company-logo
          span#c-2
        .inline-block.mx-3.mt-5.company-logo
          span#c-3
        .inline-block.mx-3.mt-5.company-logo
          span#c-4
        .inline-block.mx-3.mt-5.company-logo
          span#c-5

  //- service benefits
  section#worthy.hr-soft
    .inner
      .benefits
        h2
          span#w-span-1 Why you'll<br>love patronizing us
          span#w-span-2 Why you'll love patronizing us
          small You will love our services passionately and affectionately
      .benefitsBar
        .row
          include /mixins/benefits
          +benefit(
              '<svg id="shield-icon" width="28" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.1229 8.40048C13.1916 13.7571 9.01811 15.8733 7.95537 16.3289C6.76211 15.947 1.68422 13.875 1.68422 6.24975V2.62701L2.89601 2.33944C6.25198 1.54467 9.74718 1.54467 13.1032 2.33944L14.3158 2.62701L7.57895 9.23754L5.52506 7.17017C5.44061 7.0848 5.33994 7.0172 5.22897 6.97135C5.11799 6.9255 4.99896 6.90232 4.87889 6.90318C4.75882 6.90405 4.64014 6.92893 4.52984 6.97638C4.41953 7.02382 4.31984 7.09286 4.23664 7.17943C3.89137 7.53648 3.89558 8.10617 4.2459 8.45817L6.31242 10.5399C6.47802 10.7073 6.67519 10.8403 6.89252 10.931C7.10985 11.0217 7.34302 11.0684 7.57853 11.0684C7.81404 11.0684 8.04721 11.0217 8.26453 10.931C8.48186 10.8403 8.67904 10.7073 8.84463 10.5399L15.5006 3.83628C15.821 3.51357 16.0005 3.07712 16 2.62238C16.0009 2.24234 15.8736 1.8731 15.6385 1.57447C15.4034 1.27583 15.0745 1.06528 14.7048 0.976911L13.1032 0.5967C9.74728 -0.1989 6.25188 -0.1989 2.89601 0.5967L1.34148 0.9647C0.958298 1.05698 0.617438 1.2758 0.374009 1.58578C0.13058 1.89575 -0.00118817 2.27877 8.0736e-06 2.67291V6.24975C8.0736e-06 11.3592 2.1019 14.2918 3.86443 15.8531C5.78948 17.5563 7.72463 18.0295 7.80632 18.0489L8.04716 18.1057L8.28042 18.0228C8.34948 17.9979 14.5263 15.7171 15.7794 8.73985C15.8686 8.2388 15.5183 7.76301 15.0139 7.72301C14.5895 7.68975 14.1962 7.97817 14.1229 8.4009" fill="#00C76C" /> </svg>',
              'Security and Insurance',
              'You might be wondering "Can I actually trust the cleaning agency I\'ve recently hired? Can I leave them alone in my home?" At Chihyssop Support Services, we are fully bonded and insured, meaning you can have peace of mind when we enter your home.'
          )
          +benefit(
              '<svg width="28" viewBox="0 0 18 20" xmlns="http://www.w3.org/2000/svg" fill="none"><style>.a {fill: #00C76C}</style><path d="M17.8 14.6H15.6L13.6 13.2C13.4 13 13.1 13.1 13 13.3 12.9 13.5 12.9 13.7 13.1 13.9L14.1 14.6H13.4C13.3 14.6 13.2 14.8 13.2 14.9L13.8 18.6C13.9 18.7 14 18.8 14.1 18.8H15.6 17.1C17.3 18.8 17.4 18.7 17.4 18.6L18 14.9C18 14.8 17.9 14.6 17.8 14.6ZM15.6 15.9C15.4 16 15.2 15.8 15.2 15.7 15.2 15.6 15.2 15.5 15.2 15.5 15.3 15.4 15.4 15.3 15.5 15.3 15.6 15.3 15.7 15.3 15.8 15.4 15.8 15.4 15.9 15.5 15.9 15.6 15.9 15.7 15.8 15.9 15.6 15.9Z" class="a" /><path d="M6.7 4.6C7.2 4.6 7.7 4.3 7.7 4.3 7.5 4.1 7.4 3.8 7.3 3.5 7.6 4 8 4.3 8.6 4.3 9.1 4.3 9.5 4 9.8 3.5 9.8 3.8 9.6 4.1 9.4 4.3 9.4 4.3 9.9 4.6 10.4 4.6 10.7 4.6 11 4.4 11.1 4.1 11.2 4 11.1 3.9 11.1 3.9 10.9 3.8 10.5 3.5 10.5 3 10.5 2.2 10.7 0 8.6 0 6.4 0 6.6 2.2 6.6 3 6.6 3.5 6.2 3.8 6 3.9 6 3.9 6 4 6 4.1 6.1 4.4 6.4 4.6 6.7 4.6Z" class="a" /><path d="M13.5 11.1C13.8 10.9 13.8 10.5 13.6 10.2L10.2 5.6C9.5 4.6 8.1 4.7 7.2 5.3 7.2 5.3 4.3 7.4 4.3 7.4L2.6 6.5V8.1L4.1 8.9C4.2 9 4.3 9 4.4 9 4.5 9 4.7 8.9 4.8 8.8L6.4 7.7V9.4L4.7 14.1C4.7 14.3 4.8 14.5 5 14.5H6.4V18.1C6.4 18.7 6.8 19.1 7.4 19.1 7.9 19.1 8.3 18.7 8.3 18.1V14.5H8.8V18.1C8.8 18.7 9.2 19.1 9.7 19.1 10.3 19.1 10.7 18.7 10.7 18.1V14.5H12.2C12.3 14.5 12.4 14.3 12.4 14.1L10.7 9.4V8.6L12.5 11C12.6 11.2 12.8 11.3 13 11.3 13.2 11.3 13.3 11.2 13.5 11.1Z" class="a" /><path d="M2.3 14.2V7.9 7.4 1.2C2.3 1 2.1 0.8 1.8 0.8 1.6 0.8 1.4 1 1.4 1.2V14.2C1.5 14.1 1.6 14.1 1.7 14.1 1.9 14.1 2.1 14.1 2.3 14.2Z" class="a" /><path d="M4.8 18.9C4.2 18.6 3.6 17.9 3.6 17 3.6 16.1 3.1 15.8 2.9 15.6 2.6 15.5 2.3 15.5 2 15.5 1.9 15.4 1.8 15.4 1.7 15.4 1.7 15.4 1.7 15.4 1.6 15.4 1.2 15.5 0.8 15.6 0.4 15.7 0 16 0 16.7 0 16.7 0 18.9 1.6 19.4 3.1 19.4 3.8 19.4 4.4 19.3 4.8 19.2 4.9 19.2 5 19 4.8 18.9Z" class="a" /><path d="M1.4 15C1.4 15 1.5 15 1.6 15 1.7 15 1.7 15 1.7 15 1.9 15 2 15 2.1 15 2.1 15 2.2 15 2.3 15.1 2.4 15.1 2.5 15.1 2.5 15.1 2.6 15.1 2.6 15.1 2.7 15.1 2.7 15.1 2.6 15 2.6 15 2.5 14.9 2.5 14.8 2.4 14.8 2.4 14.7 2.4 14.7 2.3 14.7 2.3 14.7 2.3 14.7 2.3 14.7 2.1 14.6 1.9 14.6 1.7 14.6 1.6 14.6 1.5 14.6 1.4 14.6 1.4 14.6 1.3 14.6 1.2 14.7 1.2 14.7 1.2 14.7 1.2 14.7 1.1 14.7 1.1 14.7 1.1 14.8 1 14.9 0.9 15 0.8 15.1 0.9 15.1 1 15.1 1.1 15.1 1.2 15 1.3 15 1.4 15Z" class="a" /></svg>',
              'Trained Personnel',
              'Our cleaning crews are professionally trained, and if you\'re ever unhappy with any area we\'ve cleaned, we\'ll return the next day and reclean it.'
          )
          +benefit(
              '<svg width="28" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.8041 3.13698C13.8041 3.65654 13.3826 4.07807 12.863 4.07807C12.3435 4.07807 11.9219 3.65654 11.9219 3.13698C11.9219 2.61742 12.3435 2.19588 12.863 2.19588C13.3826 2.19588 13.8041 2.61742 13.8041 3.13698ZM16 0.313698C16 0.137243 15.8432 0 15.6667 0C12.2552 0 10.3828 0.784245 7.93209 3.22521C7.37331 3.79378 6.79493 4.44078 6.20675 5.1368L2.49139 5.33286C2.39336 5.34267 2.29533 5.40148 2.23651 5.48971L0.0406252 9.25408C-0.0279962 9.37172 -0.00839005 9.52857 0.0896405 9.6364L0.717036 10.2638C0.775854 10.3226 0.864082 10.352 0.942506 10.352C0.971916 10.352 1.00132 10.352 1.03073 10.3422L3.73638 9.50896L6.49104 12.2636L5.65778 14.9693C5.62837 15.0771 5.65778 15.1947 5.7362 15.283L6.3636 15.9104C6.43222 15.9692 6.51064 15.9986 6.58907 15.9986C6.64789 15.9986 6.6969 15.9888 6.74592 15.9594L10.5103 13.7635C10.5985 13.7047 10.6573 13.6066 10.6671 13.5086L10.8632 9.79325C11.5592 9.20507 12.2062 8.62669 12.7748 8.06792C15.0981 5.73479 16 3.56831 16 0.313698Z" fill="#00C76C" /> </svg>',
              'Customizable plans',
              'We offer our services at an affordable rate irrespective of your company size or personal needs. At Chihyssop Support Services we do offer add-on services that could streamline your processes and improve your bottom line.'
          )
          +benefit(
              '<svg id="shield-icon" width="28" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.1229 8.40048C13.1916 13.7571 9.01811 15.8733 7.95537 16.3289C6.76211 15.947 1.68422 13.875 1.68422 6.24975V2.62701L2.89601 2.33944C6.25198 1.54467 9.74718 1.54467 13.1032 2.33944L14.3158 2.62701L7.57895 9.23754L5.52506 7.17017C5.44061 7.0848 5.33994 7.0172 5.22897 6.97135C5.11799 6.9255 4.99896 6.90232 4.87889 6.90318C4.75882 6.90405 4.64014 6.92893 4.52984 6.97638C4.41953 7.02382 4.31984 7.09286 4.23664 7.17943C3.89137 7.53648 3.89558 8.10617 4.2459 8.45817L6.31242 10.5399C6.47802 10.7073 6.67519 10.8403 6.89252 10.931C7.10985 11.0217 7.34302 11.0684 7.57853 11.0684C7.81404 11.0684 8.04721 11.0217 8.26453 10.931C8.48186 10.8403 8.67904 10.7073 8.84463 10.5399L15.5006 3.83628C15.821 3.51357 16.0005 3.07712 16 2.62238C16.0009 2.24234 15.8736 1.8731 15.6385 1.57447C15.4034 1.27583 15.0745 1.06528 14.7048 0.976911L13.1032 0.5967C9.74728 -0.1989 6.25188 -0.1989 2.89601 0.5967L1.34148 0.9647C0.958298 1.05698 0.617438 1.2758 0.374009 1.58578C0.13058 1.89575 -0.00118817 2.27877 8.0736e-06 2.67291V6.24975C8.0736e-06 11.3592 2.1019 14.2918 3.86443 15.8531C5.78948 17.5563 7.72463 18.0295 7.80632 18.0489L8.04716 18.1057L8.28042 18.0228C8.34948 17.9979 14.5263 15.7171 15.7794 8.73985C15.8686 8.2388 15.5183 7.76301 15.0139 7.72301C14.5895 7.68975 14.1962 7.97817 14.1229 8.4009" fill="#00C76C" /> </svg>',
              'Customer\'s Satisfaction',
              'You might be wondering "Can I actually trust the cleaning agency I\'ve recently hired? Can I leave them alone in my home?" At Chihyssop Support Services, we are fully bonded and insured, meaning you can have peace of mind when we enter your home.'
          )
          +benefit(
              '<svg width="28" viewBox="0 0 18 20" xmlns="http://www.w3.org/2000/svg" fill="none"><style>.a {fill: #00C76C}</style><path d="M17.8 14.6H15.6L13.6 13.2C13.4 13 13.1 13.1 13 13.3 12.9 13.5 12.9 13.7 13.1 13.9L14.1 14.6H13.4C13.3 14.6 13.2 14.8 13.2 14.9L13.8 18.6C13.9 18.7 14 18.8 14.1 18.8H15.6 17.1C17.3 18.8 17.4 18.7 17.4 18.6L18 14.9C18 14.8 17.9 14.6 17.8 14.6ZM15.6 15.9C15.4 16 15.2 15.8 15.2 15.7 15.2 15.6 15.2 15.5 15.2 15.5 15.3 15.4 15.4 15.3 15.5 15.3 15.6 15.3 15.7 15.3 15.8 15.4 15.8 15.4 15.9 15.5 15.9 15.6 15.9 15.7 15.8 15.9 15.6 15.9Z" class="a" /><path d="M6.7 4.6C7.2 4.6 7.7 4.3 7.7 4.3 7.5 4.1 7.4 3.8 7.3 3.5 7.6 4 8 4.3 8.6 4.3 9.1 4.3 9.5 4 9.8 3.5 9.8 3.8 9.6 4.1 9.4 4.3 9.4 4.3 9.9 4.6 10.4 4.6 10.7 4.6 11 4.4 11.1 4.1 11.2 4 11.1 3.9 11.1 3.9 10.9 3.8 10.5 3.5 10.5 3 10.5 2.2 10.7 0 8.6 0 6.4 0 6.6 2.2 6.6 3 6.6 3.5 6.2 3.8 6 3.9 6 3.9 6 4 6 4.1 6.1 4.4 6.4 4.6 6.7 4.6Z" class="a" /><path d="M13.5 11.1C13.8 10.9 13.8 10.5 13.6 10.2L10.2 5.6C9.5 4.6 8.1 4.7 7.2 5.3 7.2 5.3 4.3 7.4 4.3 7.4L2.6 6.5V8.1L4.1 8.9C4.2 9 4.3 9 4.4 9 4.5 9 4.7 8.9 4.8 8.8L6.4 7.7V9.4L4.7 14.1C4.7 14.3 4.8 14.5 5 14.5H6.4V18.1C6.4 18.7 6.8 19.1 7.4 19.1 7.9 19.1 8.3 18.7 8.3 18.1V14.5H8.8V18.1C8.8 18.7 9.2 19.1 9.7 19.1 10.3 19.1 10.7 18.7 10.7 18.1V14.5H12.2C12.3 14.5 12.4 14.3 12.4 14.1L10.7 9.4V8.6L12.5 11C12.6 11.2 12.8 11.3 13 11.3 13.2 11.3 13.3 11.2 13.5 11.1Z" class="a" /><path d="M2.3 14.2V7.9 7.4 1.2C2.3 1 2.1 0.8 1.8 0.8 1.6 0.8 1.4 1 1.4 1.2V14.2C1.5 14.1 1.6 14.1 1.7 14.1 1.9 14.1 2.1 14.1 2.3 14.2Z" class="a" /><path d="M4.8 18.9C4.2 18.6 3.6 17.9 3.6 17 3.6 16.1 3.1 15.8 2.9 15.6 2.6 15.5 2.3 15.5 2 15.5 1.9 15.4 1.8 15.4 1.7 15.4 1.7 15.4 1.7 15.4 1.6 15.4 1.2 15.5 0.8 15.6 0.4 15.7 0 16 0 16.7 0 16.7 0 18.9 1.6 19.4 3.1 19.4 3.8 19.4 4.4 19.3 4.8 19.2 4.9 19.2 5 19 4.8 18.9Z" class="a" /><path d="M1.4 15C1.4 15 1.5 15 1.6 15 1.7 15 1.7 15 1.7 15 1.9 15 2 15 2.1 15 2.1 15 2.2 15 2.3 15.1 2.4 15.1 2.5 15.1 2.5 15.1 2.6 15.1 2.6 15.1 2.7 15.1 2.7 15.1 2.6 15 2.6 15 2.5 14.9 2.5 14.8 2.4 14.8 2.4 14.7 2.4 14.7 2.3 14.7 2.3 14.7 2.3 14.7 2.3 14.7 2.1 14.6 1.9 14.6 1.7 14.6 1.6 14.6 1.5 14.6 1.4 14.6 1.4 14.6 1.3 14.6 1.2 14.7 1.2 14.7 1.2 14.7 1.2 14.7 1.1 14.7 1.1 14.7 1.1 14.8 1 14.9 0.9 15 0.8 15.1 0.9 15.1 1 15.1 1.1 15.1 1.2 15 1.3 15 1.4 15Z" class="a" /></svg>',
              'Reputation and Consistency',
              'Our cleaning crews are professionally trained, and if you\'re ever unhappy with any area we\'ve cleaned, we\'ll return the next day and reclean it.'
          )
          +benefit(
              '<svg width="28" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.8041 3.13698C13.8041 3.65654 13.3826 4.07807 12.863 4.07807C12.3435 4.07807 11.9219 3.65654 11.9219 3.13698C11.9219 2.61742 12.3435 2.19588 12.863 2.19588C13.3826 2.19588 13.8041 2.61742 13.8041 3.13698ZM16 0.313698C16 0.137243 15.8432 0 15.6667 0C12.2552 0 10.3828 0.784245 7.93209 3.22521C7.37331 3.79378 6.79493 4.44078 6.20675 5.1368L2.49139 5.33286C2.39336 5.34267 2.29533 5.40148 2.23651 5.48971L0.0406252 9.25408C-0.0279962 9.37172 -0.00839005 9.52857 0.0896405 9.6364L0.717036 10.2638C0.775854 10.3226 0.864082 10.352 0.942506 10.352C0.971916 10.352 1.00132 10.352 1.03073 10.3422L3.73638 9.50896L6.49104 12.2636L5.65778 14.9693C5.62837 15.0771 5.65778 15.1947 5.7362 15.283L6.3636 15.9104C6.43222 15.9692 6.51064 15.9986 6.58907 15.9986C6.64789 15.9986 6.6969 15.9888 6.74592 15.9594L10.5103 13.7635C10.5985 13.7047 10.6573 13.6066 10.6671 13.5086L10.8632 9.79325C11.5592 9.20507 12.2062 8.62669 12.7748 8.06792C15.0981 5.73479 16 3.56831 16 0.313698Z" fill="#00C76C" /> </svg>',
              'Competency and Expertise',
              'We are not just skilled in carrying out sanitary works, we are competent in executing sanitary projects to an international industrial standard.'
          )
    .home-cta
      a.btn.lead-btn(href='/about-us.html') Learn More About Chihyssop

  //- how we work
  section#hww.hr-soft
    .inner
      .benefits
        h2
          span How We Work
          small You get a ChiHyssop Support service executed by
      .benefitsBar.pb-16
        .hww-wraps
          .himg
            img(src='/assets/i/hww-1.png' alt='')
          .f-text
            .left-content
              .bnum
                .bnum-text
                  h6 1
              h4 You choose a service of your choice and schedule us
              p Book a home cleaning from your phone, tablet or computer. We connect you with a cleaner in minutes.
        .hww-wraps.flex-inverted
          .himg.himg-inverted
            img.w-full.h-auto(src='/assets/i/hww-2.png' alt='')
          .f-text
            .left-content
              .bnum.i-brandlight
                .bnum-text
                  h6 2
              h4 We send a trained professional cleaner who executes the service
              p The trusted, experienced and insured cleaner arrives to give your place an awesome clean.
        .hww-wraps
          .himg
            img.w-full.h-auto(src='/assets/i/hww-1.png' alt='')
          .f-text
            .left-content
              .bnum
                .bnum-text
                  h6 3
              h4 We follow up
              p Accuse us of job protection, but our most successful projects are never finished. Maintenance and further improvements are key for any online project.
    .home-cta
      a.btn.lead-btn.rbase(href='/services.html') Explore Our Services
    .h-card-holder
      .row
        .card-col(class='lg:col-4')
          .card
            .c-brand
              .inner
                <img alt="Brand Name" src="/assets/i/stripe.png" class="max-h-full">
            .c-bar
              p
                |  "I used Chihyssop post construction cleaning service and it really did saved my clients the stress of cleaning their home."
            .c-bar
              .c-contact
                <img alt="Avatar of Brand CEO" src="/assets/i/patrick-collison-headshot.jpg" class="w-16 h-16 rounded-full mr-4">
                .text-sm
                  p.c-name Andy Joe
                  p.c-post CEO, AirSpring Field

        .card-col(class='lg:col-4')
          .card
            .c-brand
              .inner
                <img alt="Brand Name" src="/assets/i/visa.png" class="max-h-full">
            .c-bar
              p
                |  "I used Chihyssop post construction cleaning service and it really did saved my clients the stress of cleaning their home."
            .c-bar
              .c-contact
                <img alt="Avatar of Brand CEO" src="/assets/i/pic.png" class="w-16 h-16 rounded-full mr-4">
                .text-sm
                  p.c-name Ernest Brandford
                  p.c-post CEO, Jericho Mall

        .card-col(class='lg:col-4')
          .card
            .c-brand
              .inner
                <img alt="Brand Name" src="/assets/i/yc.png" class="max-h-full">
            .c-bar
              p
                |  "I used Chihyssop post construction cleaning service and it really did saved my clients the stress of cleaning their home."
            .c-bar
              .c-contact
                <img alt="Avatar of Brand CEO" src="/assets/i/patrick-collison-headshot.jpg" class="w-16 h-16 rounded-full mr-4">
                .text-sm
                  p.c-name Emily Green
                  p.c-post CEO, Green Hotels
  .commit
    .inner
      .mcta
        .msg
          p Patronize ChiHyssop
          h3 Relieve yourself of your cleaning chores
        .cta
          div
            a.btn(href='/hire-us.html?frm=homepage') Get a Free Quote

append scripts
  script(src=production ? '//code.jquery.com/jquery-1.11.0.min.js' : '/assets/j/jquery-dev-1.js')
  script(src=production ? '//code.jquery.com/jquery-migrate-1.2.1.min.js' : '/assets/j/jquery-dev-migrate.js')
  script(src=production ? '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js' : '/assets/j/slick.min.js')
  script(src='/assets/j/main.js')
