@tailwind base;

*, *::after, *::before {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: all .25s ease-in-out;
}

html, body {
  @apply m-0 p-0 h-full;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;

  @apply .font-sans;
  @apply .leading-normal;
}

::-moz-selection {
  @apply text-white;
  background: #23D3D3;
}

::selection {
  @apply text-white;
  background: #23D3D3;
}

body {
  @apply bg-gray-100
}

#page {
  @apply relative font-sans w-full m-0;
  min-height: 40%; min-height: 40vh
}

#app {
  @apply relative
}

.text-n-base {
  font-size: .9rem;
}

.np-x {
  padding-left: 0!important;
  padding-right: 0!important;
}

.np-y {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.np {
  padding: 0!important;
}

.text-secondary-600 {
  color: #00b45a;
}

.bg-secondary-600 {
  background-color: #00b45a;
}

.border-secondary-600 {
  border-color: #00b45a;
}

.m-h28 {
  max-height: 28px;
}

.h28 {
  height: 28px;
}

.i-brandlight {
  @apply bg-brand-light !important
}
