.container-full {
  @apply w-full px-4 mx-auto;
}

.row {
  @apply flex flex-wrap; -ms-flex-wrap: wrap;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto {
  @apply relative w-full px-4
}

@responsive{
  .container-f {
    @apply w-full;
  }
  .container-xs {
    max-width: 400px;
  }
  .container-sm {
    max-width: 640px;
  }
  .container-md {
    @apply max-w-3xl
  }
  .container-wrapper {
    max-width: 1100px;
  }
  .container-lg {
    @apply max-w-5xl
  }
  .container-ml {
    max-width: 1200px;
  }
  .container-xl {
    max-width: 1280px;
  }
  .col-auto {
    @apply w-auto max-w-full;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col {
    @apply flex-grow max-w-full;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
  }
}

/*header*/
header {
  @apply bg-white relative pt-4
}

header:not(.collapse) {
  @apply pb-4
}

header .inner {
  @apply flex items-center justify-between pb-2 relative
}

nav a, .header-cta a {
  @apply relative text-gray-800 text-sm font-semibold
}

header .brand a {
  @apply py-2 px-8 block
}

#logosvg {
  width: 18px;
}

header.collapse {
  @apply pb-48
}

nav {
  @apply hidden
}

nav.collapse {
  @apply flex z-10 absolute inset-x-0 pb-4 shadow;
  top: 4rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

@screen sm {
  header {
    background: rgba(255,255,255,.9);
    @apply z-50
  }
  header .inner {
    @apply pt-2
  }
  nav {
    @apply items-center justify-center flex
  }
}

.collapse {
  transition: all .15s ease-in-out;
}

nav a::after {
  content: '';
  position: absolute;
  /*bottom: -2rem;*/
  top: -2rem;
  width: 100%;
  left: 0;
  border: 1px solid transparent;
}

nav a:hover, .active a {
  color: #c36!important;
}

@screen sm {
  nav a:hover::after, .active a::after {
    content: '';
    position: absolute;
    /*bottom: -1.5rem;*/
    top: -1.5rem;
    width: 100%;
    left: 0;
    border-color: #c36!important;
  }
}

nav.collapse li {
  @apply py-2 px-0
}

nav.collapse a {
  @apply block py-1 px-0
}

@screen sm {
  nav a, nav.collapse a {
    @apply px-4
  }
}

@screen md {
  nav a, nav.collapse a {
    @apply px-6
  }
}

nav ul {
  @apply capitalize
}

@screen sm {
  nav ul {
    @apply flex self-stretch justify-between capitalize
  }
}

.btn {
  @apply py-2 text-gray-800 text-sm font-semibold border px-4 rounded-lg inline-block
}

#idle-btn {
  @apply rounded-none border-transparent
}

.header-cta {
  @apply hidden
}

.header-cta .btn:hover {
  color: #c36;
}

#x1lead-btn:hover {
  border-color: #c36!important;
}

@screen 400 {
  .header-cta {
    @apply flex items-center justify-center
  }
}

.cta-group:last-child {
  @apply ml-1 mr-4
}

.menu {
  @apply mx-4
}

.menuicon {
  @apply m-4 w-8 cursor-pointer
}

.menuicon:after,
.menuicon:before,
.menuicon div {
  @apply rounded bg-link block;
  content: '';
  height: 3px;
  margin: 5px 0;
}

.menuicon.collapse:before {
  transform: translateY(8px) rotate(135deg);
}

.menuicon.collapse:after {
  transform: translateY(-8px) rotate(-135deg);
}

.menuicon.collapse div {
  transform: scale(0);
}

@screen sm {
  .menu {
    @apply hidden
  }
  header.collapse {
    @apply pb-0
  }
  nav.collapse {
    @apply static top-0 border-0 border-transparent shadow-none
  }
  nav.collapse a {
    @apply pt-0 pb-0
  }
}

/*footer*/
footer {
  @apply border-solid border-gray-400 whitespace-no-wrap relative border-t
}

footer .inner {
  @apply pointer-events-auto pt-16 pb-4 text-base text-gray-600 leading-loose mx-auto max-w-xs
}

@screen 400 {
  footer .inner {
    @apply pl-3;
    max-width: 400px
  }
}

@screen sm {
  footer .inner {
    @apply pb-8;
    max-width: 640px
  }
}

@screen md {
  footer .inner {
    @apply max-w-3xl
  }
}

@screen lg {
  footer .inner {
    max-width: 1040px
  }
}

.footer-col-head {
  @apply font-semibold uppercase mb-2
}

footer a:hover {
  @apply text-link
}

.credits-copy {
  max-width: 920px;
}

header.clone {
  transform: translateY(-100%);
  transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
  @apply fixed inset-x-0 top-0
}

body.down header.clone {
  transform: translateY(0);
}

body.down #x1lead-btn {
  @apply border-gray-500
}
