/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */


strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

/*
 * Add the correct display in all browsers.
 */

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * 1. Prevent padding and border from affecting element width
 * https://goo.gl/pYtbK7
 * 2. Change the default font family in all browsers (opinionated)
 */

html {
  box-sizing: border-box; /* 1 */
  font-family: sans-serif; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */


h1,
h2,
h3,
h4,
h6,
p {
  margin: 0;
}

button {
  background: transparent;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the system font stack as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 * to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Allow adding a border to an element by just adding a border-width.
 *
 * By default, the way the browser specifies that an element should have no
 * border is by setting it's border-style to `none` in the user-agent
 * stylesheet.
 *
 * In order to easily add borders to elements by just setting the `border-width`
 * property, we change the default border-style for all elements to `solid`, and
 * use border-width to hide them instead. This way our `border` utilities only
 * need to set the `border-width` property instead of the entire `border`
 * shorthand, making our border utilities much more straightforward to compose.
 *
 * https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

/*
 * Ensure horizontal rules are visible by default
 */

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

input::-webkit-input-placeholder {
  color: #a0aec0;
}

input::-moz-placeholder {
  color: #a0aec0;
}

input:-ms-input-placeholder {
  color: #a0aec0;
}

input::-ms-input-placeholder {
  color: #a0aec0;
}

input::placeholder {
  color: #a0aec0;
}

button,
[role="button"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
canvas {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img {
  max-width: 100%;
  height: auto;
}

*, *::after, *::before {
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
}

::-moz-selection {
  color: #fff;
  background: #23D3D3;
}

::selection {
  color: #fff;
  background: #23D3D3;
}

body {
  background-color: #f7fafc
}

#page {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 100%;
  margin: 0;
  min-height: 40%; min-height: 40vh
}

#app {
  position: relative
}

.text-n-base {
  font-size: .9rem;
}

.np-x {
  padding-left: 0!important;
  padding-right: 0!important;
}

.i-brandlight {
  background-color: hsl(153, 100%, 39%) !important
}

.container {
  width: 100%;
}

@media (min-width: 400px) {
  .container {
    max-width: 400px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.hover\:bg-accent-light:hover {
  background-color: hsl(300, 100%, 30%);
}

.border-collapse {
  border-collapse: collapse;
}

.rounded-full {
  border-radius: 9999px;
}

.inline-block {
  display: inline-block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.font-semibold {
  font-weight: 600;
}

.h-16 {
  height: 4rem;
}

.h-auto {
  height: auto;
}

.leading-tight {
  line-height: 1.25;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-12 {
  margin-top: 3rem;
}

.max-h-full {
  max-height: 100%;
}

.object-scale-down {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.text-read-200 {
  color: hsl(225, 12%, 25%);
}

.text-read-300 {
  color: hsl(228, 8%, 34%);
}

.text-sm {
  font-size: 0.875rem;
}

.text-lg {
  font-size: 1.125rem;
}

.w-16 {
  width: 4rem;
}

.w-full {
  width: 100%;
}

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap; -ms-flex-wrap: wrap;
}

 .col-6, .col-12 {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem
}

.container-ml {
  max-width: 1200px;
}

.col-6 {
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-12 {
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

/*header*/

header {
  background-color: #fff;
  position: relative;
  padding-top: 1rem
}

header:not(.collapse) {
  padding-bottom: 1rem
}

header .inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.5rem;
  position: relative
}

nav a, .header-cta a {
  position: relative;
  color: #2d3748;
  font-size: 0.875rem;
  font-weight: 600
}

header .brand a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: block
}

#logosvg {
  width: 18px;
}

header.collapse {
  padding-bottom: 12rem
}

nav {
  display: none
}

nav.collapse {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: absolute;
  right: 0;
  left: 0;
  padding-bottom: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  top: 4rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

@media (min-width: 640px) {
  header {
    background: rgba(255,255,255,.9);
    z-index: 50
  }

  header .inner {
    padding-top: 0.5rem
  }

  nav {
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: flex
  }
}

.collapse {
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

nav a::after {
  content: '';
  position: absolute;
  /*bottom: -2rem;*/
  top: -2rem;
  width: 100%;
  left: 0;
  border: 1px solid transparent;
}

nav a:hover, .active a {
  color: #c36!important;
}

@media (min-width: 640px) {
  nav a:hover::after, .active a::after {
    content: '';
    position: absolute;
    /*bottom: -1.5rem;*/
    top: -1.5rem;
    width: 100%;
    left: 0;
    border-color: #c36!important;
  }
}

nav.collapse li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0
}

nav.collapse a {
  display: block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0;
  padding-right: 0
}

@media (min-width: 640px) {
  nav a, nav.collapse a {
    padding-left: 1rem;
    padding-right: 1rem
  }
}

@media (min-width: 768px) {
  nav a, nav.collapse a {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }
}

nav ul {
  text-transform: capitalize
}

@media (min-width: 640px) {
  nav ul {
    display: -webkit-box;
    display: flex;
    align-self: stretch;
    -webkit-box-pack: justify;
            justify-content: space-between;
    text-transform: capitalize
  }
}

.btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #2d3748;
  font-size: 0.875rem;
  font-weight: 600;
  border-width: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  display: inline-block
}

#idle-btn {
  border-radius: 0;
  border-color: transparent
}

.header-cta {
  display: none
}

.header-cta .btn:hover {
  color: #c36;
}

#x1lead-btn:hover {
  border-color: #c36!important;
}

@media (min-width: 400px) {
  .header-cta {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center
  }
}

.cta-group:last-child {
  margin-left: 0.25rem;
  margin-right: 1rem
}

.menu {
  margin-left: 1rem;
  margin-right: 1rem
}

.menuicon {
  margin: 1rem;
  width: 2rem;
  cursor: pointer
}

.menuicon:after,
.menuicon:before,
.menuicon div {
  border-radius: 0.25rem;
  background-color: hsl(330, 100%, 20%);
  display: block;
  content: '';
  height: 3px;
  margin: 5px 0;
}

.menuicon.collapse:before {
  -webkit-transform: translateY(8px) rotate(135deg);
          transform: translateY(8px) rotate(135deg);
}

.menuicon.collapse:after {
  -webkit-transform: translateY(-8px) rotate(-135deg);
          transform: translateY(-8px) rotate(-135deg);
}

.menuicon.collapse div {
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media (min-width: 640px) {
  .menu {
    display: none
  }

  header.collapse {
    padding-bottom: 0
  }

  nav.collapse {
    position: static;
    top: 0;
    border-width: 0;
    border-color: transparent;
    box-shadow: none
  }

  nav.collapse a {
    padding-top: 0;
    padding-bottom: 0
  }
}

/*footer*/

footer {
  border-style: solid;
  border-color: #cbd5e0;
  white-space: nowrap;
  position: relative;
  border-top-width: 1px
}

footer .inner {
  pointer-events: auto;
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  color: #718096;
  line-height: 2;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem
}

@media (min-width: 400px) {
  footer .inner {
    padding-left: 0.75rem;
    max-width: 400px
  }
}

@media (min-width: 640px) {
  footer .inner {
    padding-bottom: 2rem;
    max-width: 640px
  }
}

@media (min-width: 768px) {
  footer .inner {
    max-width: 48rem
  }
}

@media (min-width: 1024px) {
  footer .inner {
    max-width: 1040px
  }
}

.footer-col-head {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem
}

footer a:hover {
  color: hsl(330, 100%, 20%)
}

.credits-copy {
  max-width: 920px;
}

header.clone {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.2s -webkit-transform cubic-bezier(.3,.73,.3,.74);
  transition: 0.2s -webkit-transform cubic-bezier(.3,.73,.3,.74);
  transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
  transition: 0.2s transform cubic-bezier(.3,.73,.3,.74), 0.2s -webkit-transform cubic-bezier(.3,.73,.3,.74);
  position: fixed;
  right: 0;
  left: 0;
  top: 0
}

body.down header.clone {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body.down #x1lead-btn {
  border-color: #a0aec0
}

.slide-clip {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  text-align: left
}

#hero {
  background-color: #fff;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 4rem
}

.hero-content h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  line-height: 1.25;
  color: hsl(150, 100%, 20%)
}

.hero-content h6 {
  text-transform: uppercase;
  color: hsl(300, 100%, 20%);
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.25
}

.hero-content p {
  font-size: 0.875rem;
  margin-bottom: 1rem;
  color: hsl(240, 33%, 30%)
}

.hero-cta {
  margin-bottom: 1rem;
  text-align: center
}

.hero-cta > a {
  background-color: hsl(300, 100%, 20%);
  color: #fff;
  font-weight: 600;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center
}

.hero-content {
  /*@apply px-4 pt-4 float-left block w-full text-center mb-5 max-w-xl;*/
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1.25rem;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
  /*margin-right: 2.3576515979%*/
}

.hero-content:last-child {
  /*@apply mr-0*/
}

@media (min-width: 768px) {
  .hero-content h2 {
    font-size: 1.875rem
  }

  .hero-content {
    padding-top: 3rem
  }
}

.hero-img {
  float: left;
  display: block;
  width: 100%
}

.hero-img img{
  margin-left: auto;
  margin-right: auto
}

@media (min-width: 768px) {
  .hero-cta {
    text-align: left
  }

  .hero-img {
    margin-right: 2.3576515979%;
    width: 57.3509785009%
  }

  .hero-content {
    text-align: left;
    margin-bottom: 1.25rem;
    float: left;
    width: 40.2913699012%
  }
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: 0
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block
}

.slick-slide.slick-loading img {
  display: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-color: transparent
}

.slick-arrow.slick-hidden {
  display: none
}

/*customised slider*/

.slick-dots {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  bottom: -25px;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 1.25rem;
  width: 1.25rem;
  padding: 0;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.slick-dots li button {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.25rem;
  cursor: pointer;
  color: transparent;
  border-style: none;
  border-width: 0;
  border-color: transparent;
  outline: 0;
  background-color: transparent;
  font-size: 0;
  line-height: 0;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: 0
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1
}

.slick-dots li button:before
{
  font-size: 1.875rem;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.25;
  color: #000;
  line-height: 20px;
  width: 10px;
  height: 10px;
  content: '•';
}

.slick-dots li.slick-active button:before
{
  opacity: 0.75;
  color: #000;
}

/*Testimonial block*/

#testimonial {
  position: relative;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fff
}

#testimonial .inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px
}

.company-logo {
  display: inline-block;
  text-align: center
}

.company-logo span {
  overflow: hidden;
  white-space: nowrap;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: 101%;
  opacity: .8;
}

#c-1{
  background-image:url(https://www1.assets.heroku.com/assets/home/icons/langs/node-2764f6882d804c7852267e6aa4bfa6fd230a0fa5c607feac3042b125ead8762a.png);
  width:37px;
  height:40px
}

#c-2{
  background-image:url(https://www3.assets.heroku.com/assets/home/icons/langs/ruby-88ac85ca0f52e76181f3726967f50c09926883a0a8963ac1733a9fe0e88bf774.png);
  width:41px;
  height:40px
}

#c-3{
  background-image:url(https://www3.assets.heroku.com/assets/home/icons/langs/java-52d533eeeec347173af6b48023d994eda3a30d082ac7543326ed3a64dc25f74c.png);
  width:43px;
  height:40px
}

#c-4{
  background-image:url(https://www0.assets.heroku.com/assets/home/icons/langs/php-2b82fc11c4d4066cb2d36e27e921e0795543bad37f3f7f9b0a6df9b4581a7ade.png);
  width:55px;
  height:40px
}

#c-5{
  background-image:url(https://www2.assets.heroku.com/assets/home/icons/langs/python-87d1c898b0125cbf2b9087d4c3d95f0224d0b793e093a37129b8b056b4ce6206.png);
  width:41px;
  height:40px
}

#testimonial p {
  font-size: 1.25rem;
  color: hsl(227, 20%, 17%);
  margin-left: auto;
  margin-right: auto
}

@media (min-width: 768px) {
  #testimonial p {
    font-size: 1.5rem;
    max-width: 900px;
  }
}

#worthy, #hww {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  background-color: #fff
}

#hww {
  padding-bottom: 0 !important
}

@media (min-width: 400px) {
  #worthy, #hww {
    padding-left: 1rem;
    padding-right: 1rem
  }
}

#worthy .benefits, #hww .benefits {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem
}

#worthy h2, #hww h2 {
  display: block;
  text-align: left;
  color: hsl(240, 33%, 30%);
  font-size: 1.875rem;
  position: relative
}

#w-span-2 {
  display: none
}

#hww h2 {
  text-align: center
}

@media (min-width: 640px) {
  #worthy h2, #hww h2 {
    text-align: center
  }

  #w-span-1 {
    display: none
  }

  #w-span-2 {
    display: block
  }
}

#worthy svg, #hww svg {
  display: block;
  left: 0;
  position: absolute;
  line-height: 1;
  top: 3px;
}

#worthy .row > div, #hww .row > div {
  padding-left: 2rem;
  padding-right: 1.25rem
}

#worthy .benefitsBar, #hww .benefitsBar {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem
}

#hww .benefitsBar {
  max-width: 56rem !important
}

.home-cta {
  text-align: center
}

.lead-btn {
  color: #fff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: .9rem;
  border-radius: 0.25rem;
  background-color: #00b45a;
  border-color: #00b45a
}

#hww small, #worthy small {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#testimonial .pu, #hww small, #worthy small {
  line-height: 1.5;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #718096;
  max-width: 42rem;
  letter-spacing: -0.01rem;
}

@media (min-width: 768px) {
  #testimonial .pu, #hww small, #worthy small {
    font-size: 1.125rem
  }
}

.btn.lead-btn.rbase {
  background-color: #006834;
  border-color:#006834;
}

.hr-soft {
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(35%, #ddd), color-stop(65%, #ddd), to(#fff));
  background-image: linear-gradient(to right, #fff, #ddd 35%, #ddd 65%, #fff);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  border: 0 !important;
}

.h-card-holder {
  padding-top: 6rem;
  padding-bottom: 6rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto
}

.card-col {
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important
}

.card {
  padding-top: 3rem;
  padding-bottom: 2rem;
  max-width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)
}

.c-brand {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem
}

.c-brand .inner {
  height: 28px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start
}

.c-bar {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem
}

.c-bar p {
  color: #4a5568;
  font-size: 1rem
}

.c-contact {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center
}

.c-name {
  color: #1a202c;
  line-height: 1;
  font-weight: 600
}

.c-post {
  color: #718096;
  margin-top: 0.5rem
}

#hww .benefitsBar h2 {
  text-align: left
}

.hww-wraps {
  margin: 0
}

.hww-wraps .himg {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 3rem
}

.hww-wraps .f-text p {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.025em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #718096
}

@media (min-width: 768px) {
  .hww-wraps {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center
  }

  .hww-wraps .himg {
    -webkit-box-flex: 0;
    flex: 0 0 420px;
  }

  .hww-wraps .f-text p {
    font-size: 1rem
  }
}

@media only screen and (min-width: 480px) {
  .hww-wraps .f-text {
    -webkit-box-flex: 1;
            flex: 1 1 0%;
    text-align: left
  }
}

@media (min-width: 1024px) {
  .hww-wraps .himg {
    -webkit-box-flex: 0;
    flex: 0 0 500px;
  }
}

.himg img {
  width: 100%;
  height: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)
}

.bnum {
  width: 2.5rem;
  height: 2.5rem;
  background-color: hsl(240, 33%, 30%);
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-weight: 700;
  display: table
}

.bnum-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center
}

.bnum-text h6 {
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff
}

.hww-wraps .f-text {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-box-flex: 1;
          flex: 1 1 0%;
  text-align: left
}

.hww-wraps .f-text h4 {
  color: #3a3a47;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1.25rem;
  text-align: left;
  font-size: 1.5rem !important
}

.hww-wraps.flex-inverted .himg {
  -webkit-box-ordinal-group:2;
  order: 1
}

.commit {
  background: #1a182a url(/assets/i/pattern.png) no-repeat center top;
  padding-top: 10rem;
  padding-bottom: 10rem
}

.commit .inner {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

.commit .msg {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem
}

@media (min-width: 640px) {
  .commit .msg {
    text-align: left;
    margin-bottom: 0
  }
}

.commit p {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: -0.025em;
  color: #edf2f7
}

.commit h3 {
  line-height: 1.25;
  font-weight: 700;
  color: #f7fafc;
  font-size: 2.25rem
}

@media (min-width: 584px) {
  .commit .msg h3 {
    font-size: 3rem
  }
}

@media (min-width: 640px) {
  .mcta {
    display: -webkit-box;
    display: flex
  }
}

.commit .cta {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 10
}

@media (min-width: 640px) {
  .commit .cta {
    -webkit-box-pack: end;
            justify-content: flex-end;
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .commit .cta {
    -webkit-box-flex: 1;
            flex: 1 1 0%
  }
}

.commit .cta a {
  line-height: 28px;
  background-color: hsl(300, 100%, 30%);
  color: #fff;
  font-size: 1rem;
  border-width: 0;
  height: 3rem;
  padding-left: 2rem;
  padding-right: 2rem
}

.commit .cta a:hover {
  box-shadow: 0 6px 2px -6px hsl(300, 100%, 20%);
  background-color: hsl(300, 100%, 20%)
}

@media (min-width: 400px) {

  .\34 00\:border-collapse {
    border-collapse: collapse;
  }

  .\34 00\:object-scale-down {
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
}

@media (min-width: 640px) {

  .sm\:border-collapse {
    border-collapse: collapse;
  }

  .sm\:mb-0 {
    margin-bottom: 0;
  }

  .sm\:object-scale-down {
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }

  .sm\:col-6 {
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {

  .md\:border-collapse {
    border-collapse: collapse;
  }

  .md\:mb-0 {
    margin-bottom: 0;
  }

  .md\:object-scale-down {
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }

  .md\:text-right {
    text-align: right;
  }

  .md\:col-3 {
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .md\:col-6 {
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1024px) {

  .lg\:border-collapse {
    border-collapse: collapse;
  }

  .lg\:object-scale-down {
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }

  .lg\:col-4 {
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1280px) {

  .xl\:border-collapse {
    border-collapse: collapse;
  }

  .xl\:object-scale-down {
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
}
