mixin benefit(icon, benefit, msg)
  .col-12.mb-8(class='md:col-6 lg:col-4')
    != icon
    .ml-5
      h4.font-semibold.text-read-200.text-lg.leading-tight #{benefit}
      p.text-n-base.text-read-300.pt-2 #{msg}
