mixin footercols(colTitle, hrefs, listnames)
  .col-6(class='md:col-3 mb-8 md:mb-0')
    .footer-col-grp
      h3.footer-col-head #{colTitle}
      .footer-col-links
        ul
          each href, i in hrefs
            li
              a(href=href)= listnames[i]

mixin listFootercols(colTitle, listnames, hrefs)
  .col-12(class='mb-4')
    .footer-col-grp
      h3.footer-col-head #{colTitle}
      .footer-col-links
        ul
          if hrefs != null
            each href, i in hrefs
              li
                a(href=href)= listnames[i]
          else
            each listname in listnames
              li= listname
