mixin slides(imgSrc, serviceName, caption, msgCampaign, ctaLink)
  .slides
    .slide-clip.clearfix
      .hero-img
        img(alt='', src=imgSrc)
      .hero-content
        h6 #{serviceName}
        h2 #{caption}
        p #{msgCampaign}
        .hero-cta
          a(class='hover:bg-accent-light', href=ctaLink)
            span.mr-3 Get a Quote
            svg.mt-1(width='17' viewBox='0 0 17 13' xmlns='http://www.w3.org/2000/svg' fill='none')
              path(d='M1 7L15 7 10 12C10 12 10 12 10 12 10 12 10 12 10 12 10 12 10 12 10 12 10 13 10 13 10 13 10 13 10 13 10 13 10 13 10 13 10 13 10 13 11 13 11 13 11 13 11 13 11 13L17 7C17 7 17 7 17 7L17 7C17 7 17 7 17 6 17 6 17 6 17 6L17 6C17 6 17 6 17 6L11 0C11 0 11 0 10 0 10 0 10 0 10 0 10 0 10 0 10 0 10 0 10 1 10 1 10 1 10 1 10 1L15 6 1 6C1 6 1 6 1 6 1 6 1 6 1 6 1 7 1 7 1 7 1 7 1 7 1 7Z' fill='white')
