doctype
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='preconnect', href='https://fonts.googleapis.com/', crossorigin)
    link(rel='dns-prefetch', href='https://fonts.googleapis.com/')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(
        rel='stylesheet',
        href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap',
      )

    //- web page title, description and seo related stuffs
    block seo

    //- framework css
    block tailwindcss
      link(rel="stylesheet" href=production ? null : '/assets/c/tailwind.css')

    //- individual web-page's css
    block pageCSS

    //- favicons in their sizes
    link(rel="icon" href="/assets/i/fav-64.png" type="image/png" sizes="64x64")
    link(rel="icon" href="/assets/i/fav-48.png" type="image/png" sizes="48x48")
    link(rel="icon" href="/assets/i/fav-32.png" type="image/png" sizes="32x32")
    link(rel="icon" href="/assets/i/fav-16.png" type="image/png" sizes="16x16")

  block body
    body
      #page

        block header
          include includes/_header

        #app
          block content

          .push

      block footer
        include includes/_footer

      block scripts
