@import "styles/_base";
@import "styles/_component";
@import "styles/_utilities";
@import "styles/lead";

.slide-clip {
  @apply mx-auto hero-wrapper text-left
}

#hero {
  @apply bg-white text-center pt-6 pb-16
}

.hero-content h2 {
  @apply text-2xl mb-3 leading-tight text-brand-dark
}

.hero-content h6 {
  @apply uppercase text-accent-dark text-xs mb-5 font-bold tracking-widest leading-tight
}

.hero-content p {
  @apply text-sm mb-4 text-secondary-base
}

.hero-cta {
  @apply mb-4 text-center
}

.hero-cta > a {
  @apply bg-accent-dark text-white font-semibold py-2 px-4 rounded inline-flex items-center
}

.hero-content {
  /*@apply px-4 pt-4 float-left block w-full text-center mb-5 max-w-xl;*/
  @apply px-4 pt-4 block w-full text-center mb-5 max-w-xl mx-auto;
  /*margin-right: 2.3576515979%*/
}

.hero-content:last-child {
  /*@apply mr-0*/
}

@screen md {
  .hero-content h2 {
    @apply text-3xl
  }
    .hero-content {
    @apply pt-12
  }
}

.hero-img {
  @apply float-left block w-full
}

.hero-img img{
  @apply mx-auto
}

.hero-wrapper {
  max-width: 1100px;
}

@media (min-width: 768px) {
  .hero-cta {
    @apply text-left
  }
  .hero-img {
    margin-right: 2.3576515979%;
    width: 57.3509785009%
  }
  .hero-content {
    @apply text-left mb-5 float-left;
    width: 40.2913699012%
  }
}


/* Slider */
.slick-slider {
  @apply relative block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  @apply relative block overflow-hidden m-0 p-0
}

.slick-list:focus {
  @apply outline-none
}

.slick-list.dragging {
  @apply cursor-pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  @apply relative top-0 left-0 block mx-auto
}

.slick-track:before,
.slick-track:after
{
  @apply table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  @apply invisible
}

.slick-slide {
  @apply hidden float-left h-full;
  min-height: 1px;
}

.slick-slide img {
  @apply block
}

.slick-slide.slick-loading img {
  @apply hidden
}

.slick-slide.dragging img {
  @apply pointer-events-none
}

.slick-initialized .slick-slide {
  @apply block
}

.slick-loading .slick-slide {
  @apply invisible
}

.slick-vertical .slick-slide {
  @apply block h-auto border border-solid border-transparent
}

.slick-arrow.slick-hidden {
  @apply hidden
}

/*customised slider*/
.slick-dots {
  @apply absolute block w-full p-0 m-0 list-none text-center;
  bottom: -25px;
}

.slick-dots li {
  @apply relative inline-block w-5 w-5 p-0 cursor-pointer my-0 mx-1
}

.slick-dots li button {
  @apply block w-5 h-5 p-1 cursor-pointer text-transparent
  border-none
  border-0
  border-transparent
  outline-none
  bg-transparent;
  font-size: 0;
  line-height: 0;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
  @apply outline-none
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  @apply opacity-100
}

.slick-dots li button:before
{
  @apply text-3xl absolute top-0 left-0 text-center opacity-25 text-black;
  line-height: 20px;
  width: 10px;
  height: 10px;
  content: '•';
}

.slick-dots li.slick-active button:before
{
  @apply opacity-75 text-black;
}

/*Testimonial block*/
#testimonial {
  @apply relative text-center py-12 px-4 bg-white
}

#testimonial .inner {
  @apply mx-auto hero-wrapper
}

.company-logo {
  @apply inline-block text-center
}

.company-logo span {
  @apply overflow-hidden whitespace-no-wrap block bg-no-repeat bg-center;
  text-indent: 101%;
  opacity: .8;
}

#c-1{background-image:url(https://www1.assets.heroku.com/assets/home/icons/langs/node-2764f6882d804c7852267e6aa4bfa6fd230a0fa5c607feac3042b125ead8762a.png);width:37px;height:40px}#c-2{background-image:url(https://www3.assets.heroku.com/assets/home/icons/langs/ruby-88ac85ca0f52e76181f3726967f50c09926883a0a8963ac1733a9fe0e88bf774.png);width:41px;height:40px}#c-3{background-image:url(https://www3.assets.heroku.com/assets/home/icons/langs/java-52d533eeeec347173af6b48023d994eda3a30d082ac7543326ed3a64dc25f74c.png);width:43px;height:40px}#c-4{background-image:url(https://www0.assets.heroku.com/assets/home/icons/langs/php-2b82fc11c4d4066cb2d36e27e921e0795543bad37f3f7f9b0a6df9b4581a7ade.png);width:55px;height:40px}#c-5{background-image:url(https://www2.assets.heroku.com/assets/home/icons/langs/python-87d1c898b0125cbf2b9087d4c3d95f0224d0b793e093a37129b8b056b4ce6206.png);width:41px;height:40px}

#testimonial p {
  @apply text-xl text-read-100 mx-auto
}

@screen md {
  #testimonial p {
    @apply text-2xl;
    max-width: 900px;
  }
}

#worthy, #hww {
  @apply py-12 relative bg-white
}

#hww {
  @apply pb-0 !important
}

@screen 400 {
  #worthy, #hww {
    @apply px-4
  }
}

#worthy .benefits, #hww .benefits {
  @apply mx-auto container-wrapper text-center px-4
}

#worthy h2, #hww h2 {
  @apply block text-left text-secondary-base text-3xl relative
}

#w-span-2 {
  @apply hidden
}

#hww h2 {
  @apply text-center
}

@screen sm {
  #worthy h2, #hww h2 {
    @apply text-center
  }
  #w-span-1 {
    @apply hidden
  }
  #w-span-2 {
    @apply block
  }
}

#worthy svg, #hww svg {
  @apply block left-0 absolute leading-none;
  top: 3px;
}

#worthy .row > div, #hww .row > div {
  @apply pl-8 pr-5
}

#worthy .benefitsBar, #hww .benefitsBar {
  @apply container-ml mx-auto px-4 pt-16
}

#hww .benefitsBar {
  @apply max-w-4xl !important
}

.home-cta {
  @apply text-center
}

.lead-btn {
  @apply text-white tracking-widest uppercase text-n-base rounded bg-secondary-600 border-secondary-600
}

#hww small, #worthy small {
  @apply block mx-auto
}

#testimonial .pu, #hww small, #worthy small {
  @apply leading-normal text-base mt-2 text-gray-600 max-w-2xl;
  letter-spacing: -0.01rem;
}

@screen md {
  #testimonial .pu, #hww small, #worthy small {
    @apply text-lg
  }
}

.btn.lead-btn.rbase {
  background-color: #006834;
  border-color:#006834;
}

.hr-soft {
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(35%, #ddd), color-stop(65%, #ddd), to(#fff));
  background-image: linear-gradient(to right, #fff, #ddd 35%, #ddd 65%, #fff);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  border: 0 !important;
}

.h-card-holder {
  @apply py-24 container-ml mx-auto
}

.card-col {
  @apply col-12 mb-8;
  @apply px-4 !important
}

.card {
  @apply pt-12 pb-8 max-w-full rounded overflow-hidden shadow
}

.c-brand {
  @apply flex items-center px-6 py-4
}

.c-brand .inner {
  @apply h28 select-none relative flex items-center justify-start
}

.c-bar {
  @apply px-6 py-4
}

.c-bar p {
  @apply text-gray-700 text-base
}

.c-contact {
  @apply flex items-center
}

.c-name {
  @apply text-gray-900 leading-none font-semibold
}

.c-post {
  @apply text-gray-600 mt-2
}

#hww .benefitsBar h2 {
  @apply text-left
}

.hww-wraps {
  @apply m-0
}

.hww-wraps .himg {
  @apply py-0 px-8 mb-12
}

.hww-wraps .f-text p {
  @apply text-sm leading-normal tracking-wide mt-4 mb-4 text-gray-600
}

@screen md {
  .hww-wraps {
    @apply relative flex items-center
  }
  .hww-wraps .himg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 420px;
    flex: 0 0 420px;
  }
  .hww-wraps .f-text p {
    @apply text-base
  }
}

@media only screen and (min-width: 480px) {
  .hww-wraps .f-text {
    @apply flex-1 text-left
  }
}

@screen lg {
  .hww-wraps .himg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 500px;
    flex: 0 0 500px;
  }
}

.himg img {
  @apply w-full h-auto shadow
}

.bnum {
  @apply w-10 h-10 bg-secondary-base text-white rounded p-1 font-bold table
}

.bnum-text {
  @apply table-cell align-middle text-center
}

.bnum-text h6 {
  @apply text-sm font-bold text-white
}

.hww-wraps .f-text {
  @apply py-0 px-8 flex-1 text-left
}

.hww-wraps .f-text h4 {
  color: #3a3a47;
  @apply font-semibold leading-tight mt-5 text-left;
  @apply text-2xl !important
}

.hww-wraps.flex-inverted .himg {
  -webkit-box-ordinal-group:2;
  @apply order-1
}

.commit {
  background: #1a182a url(/assets/i/pattern.png) no-repeat center top;
  @apply py-40
}

.commit .inner {
  @apply container-ml px-4 mx-auto w-full
}

.commit .msg {
  @apply text-center mb-8 w-full mx-auto max-w-2xl
}

@screen sm {
  .commit .msg {
    @apply text-left mb-0
  }
}

.commit p {
  @apply mb-4 text-xl leading-none tracking-tight text-gray-200
}

.commit h3 {
  @apply leading-tight font-bold text-gray-100 text-4xl
}

@media (min-width: 584px) {
  .commit .msg h3 {
    @apply text-5xl
  }
}

@screen sm {
  .mcta {
    @apply flex
  }
}

.commit .cta {
  @apply flex w-full justify-center items-center z-10
}

@screen sm {
  .commit .cta {
    @apply justify-end;
    width: 300px;
  }
}

@screen lg {
  .commit .cta {
    @apply flex-1
  }
}

.commit .cta a {
  line-height: 28px;
  @apply bg-accent-light text-white text-base border-0 h-12 px-8
}

.commit .cta a:hover {
  box-shadow: 0 6px 2px -6px hsl(300, 100%, 20%);
  @apply bg-accent-dark
}
